

body{
    
    background-image: url(../imagens/ChatGPT\ Image\ 3\ de\ abr.\ de\ 2025\,\ 17_01_15.png);
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.cabecalho{
    padding-top: 70px;
   text-shadow: 2px 2px 2px #3a3a3a;        
   h1{
    color: rgb(255, 255, 255);
    background-color: #F05642;
    border: 2px solid #ffffff;
    border-radius: 5px;
    padding: 5px;
   }
   
}
.container5{
    display: flex;
   
}
table{
    justify-content: center;
    align-items: center; 
    flex-direction: column;
    text-align: center;
}



form{
    display: flex;
    flex-direction: column;
}

.container2{
    display: flex;
    align-items: center;
    justify-content: center;
   
}

.article{
    background-color: #ffffff;
    border: 2px solid #000;
    border-radius: 5px;
  
    padding: 10px;
    margin: 10px;
    h2{
        color: #000000;    
    }
}
.botaoenviar{
    display: flex;
    justify-content: center;
}
.footer{
    text-align: center;
    padding: 10px;
    background-color: #000000;
}

.rodape1{
    display: flex;
    text-align: center;
    justify-content: center;
    background-color: #1EB2B0;
    color: blanchedalmond;
    border: 0;
}
