header{
    display: flex;
    justify-content: center;
    background-color: blanchedalmond;
    height: 114px;
    width: 1327px;
}

.container{
    display: flex;
}
.rosto{
  
    height: 50px;
    width: 50px;
}
