* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    
    font-family: Georgia, 'Times New Roman', Times, serif;
    overflow-x:hidden;
    margin: 0;
    padding: 0;
    P {
        line-height: 1.5;
    }
    
}
.wrapper {
    max-width: 1200px;
    margin: 0 auto; /* Centraliza tudo */
    padding: 0 20px; /* Espaço nas bordas para telas pequenas */
}
.container{
    display: flex;
    align-items: center;
    justify-content:center;
    
}
.head{
    font-size: 40px;   
    color: #ffffff;
    p{
        cursor: pointer;
        text-shadow: 2px 2px 2px #000000;
    }
}
.head::first-letter{
    font-size: 65px;
}
.head:hover{
    color:rgba(43, 255, 54);
    transition: all 0.3s linear;
}
.link{
    display: flex;
    justify-content: center;
    margin-left: 50px;
    margin-right: 50px;
 
}
.links{   
    margin-right: 10px;
    margin-left: 10px;
    padding: 5px;
    color: #000000; 
    text-decoration: none;
}
.links:hover{
    cursor: pointer;
    text-shadow: 1px 1px 1px #000000;
   
}

.meu-link:hover{
    text-shadow: 2px 2px 2px #000000;
    transition: all 0.1s linear;
    color: #03DF83;
}

.conteudo{
    margin: 20px;
    padding: 5px;
    border: 2PX solid #fff;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    margin-left: 50px;
    margin-right: 50px;
    color: #fff;
    
}


.container3{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;  
    h2{
        color: #ffffff;
        background-color: rgba(0, 0, 0, 0.5);;
        border: 2px solid black;
        border-radius: 20px;
        padding: 4px;
    }
  
}

.conteudo3{
    background-image:url(../imagens/fundo.png) ;
    background-color:  #BCB58D;
    border: 2PX solid #fff;
    border-radius: 20px;
    padding: 5px;
    margin-left: 50px;
    margin-right: 50px; 
    color: #000000;  
    P {
        line-height: 1.5;
    }
}
.conteudo5{
    background-color: #81ADFE;
    border: 2PX solid #fff;
    border-radius: 20px;
    padding: 5px;
    color: #000000;
    
}

.redes{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:rgb(0, 0, 0,0.5)

}
