body{
    background-color: rgb(255, 255, 255);
    font-family: Georgia, 'Times New Roman', Times, serif;

}
.container{

    display: flex;
    align-items: center;
    justify-content:center;
    
}
.head{
    padding: 0px;
    margin: 5px;
    width: 200px;
    text-decoration: none;
    h1{
        cursor: pointer;
        text-shadow: 2px 2px 2px #000000;
    }
}
.link{
    display: flex;
    justify-content: center;
    margin-left: 50px;
    margin-right: 50px;
 
}
.links{   
    margin-right: 10px;
    margin-left: 10px;
    padding: 5px;
    color: #000000; 
    text-decoration: none;
}
.links:hover{
    cursor: pointer;
    text-shadow: 1px 1px 1px #000000;
   
}
.meu-link {
    text-decoration: none;
    color: #000;
   
  }
.meu-link:hover{
    text-shadow: 2px 2px 2px #000000;
    transition: all 0.1s linear;
    color: #03DF83;
}
.head:hover{
    color:rgb(63, 63, 63);
    transition: all 0.3s linear;
}
.conteudo{
    margin: 20px;
    border: 2PX solid #fff;
    border-radius: 5px;
    background-color: rgb(3, 223, 131);
    margin-left: 50px;
    margin-right: 50px;
    
}


.container3{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;  
  
}
.conteudo3{
    background-color: rgb(5, 209, 124);
    border: 2PX solid #fff;
    border-radius: 5px;
    padding: 5px;
    margin-left: 50px;
    margin-right: 50px;   
}
.conteudo5{
    background-color: rgb(6, 167, 67);
    border: 2PX solid #fff;
    border-radius: 5px;
    padding: 5px;
    
}

.redes{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:  rgb(227, 236, 243);

}
